html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .home.ankiety
            header.app-header
                
                nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="#") home
                        li.app-nav__list-item
                            a.app-nav__link(href="#") ankiety
                        li.app-nav__list-item
                            a.app-nav__link(href="#")  kontakt
            .wrapper
                section.slogan
                    h1.slogan__header
                        | Be a hero. Wypełnij ankietę.
                    p.slogan__text
                        | Jest anonimowa, pomoże w ocenie.
                    .actions
                        button.btn.btn--primary(@click="formLightbox = true") Wypełnij ankietę
                        
                
            .lightbox(v-show="formLightbox == true" style="display: none;")
                .lightbox__content
                    h2.lightbox__header Wypełnij ankietę
                    form.lightbox__form(action="/applications" method="POST")
                        .lightbox__form-control
                            label.lightbox__label Nazwa przedmiotu?
                            input.lightbox__input(placeholder="Matematyka" type="text" name="name")
                        .lightbox__form-control
                            label.lightbox__label Jaka jest twoja ocena?
                            input.lightbox__input(placeholder="od 1 do 10" type="text" name="mark")
                        .lightbox__form-control
                            label.lightbox__label Zostaw uwagi
                            textarea.lightbox__input(placeholder="Wszystko co Ci leży na sercu" rows="3" name="message")
                        .lightbox__actions
                            button.btn.btn--primary Wyślij
            if (formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")